# -----------------------------
# Global
# -----------------------------
node_modules/
dist/
build/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# -----------------------------
# Next.js (Frontend)
# -----------------------------
.next/
out/
.vercel/
coverage/
*.next

# -----------------------------
# NestJS (Backend)
# -----------------------------
dist/
coverage/
.cache/
.idea/
*.tsbuildinfo

# -----------------------------
# Java + Selenium (Automation)
# -----------------------------
*.class
*.jar
*.war
*.ear
*.log
target/
build/
out/
.gradle/
.project
.classpath
.settings/
bin/

# -----------------------------
# OS/System files
# -----------------------------
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.swn
*.bak

# -----------------------------
# IDEs and Editors
# -----------------------------
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
